<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid</title>
    <link rel="stylesheet" href="grid.css" />
  </head>
  <body>
    <div class="container-grid">
      <header class="header">
        <h1 class="logo"><a href="#">RapidUI</a></h1>

        <div class="header-nav">
          <nav class="nav">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Documentation</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <aside>
        <hr>
        <div class="sidebar">
          <h4>Components</h2>
          <ul>
            <li><a href="/components/Avatar/avatar.html" class="remove-deco">Avatar</a></li>
            <li><a href="/components/Alert/alert.html" class=" remove-deco">Alert</a></li>
            <li><a href="/components/Badge/badge.html" class="remove-deco">Badge</a></li>
            <li><a href="/components/Button/button.html" class="remove-deco">Button</a></li>
            <li><a href="#" class="remove-deco">Card</a></li>
            <li><a href="/components/Image/image.html" class="remove-deco">Image</a></li>
            <li><a href="#" class="remove-deco">Input</a></li>
            <li><a href="/components/Text Utilities/text_utilities.html" class="remove-deco">Text Utilities</a></li>
            <li><a href="/components/Navigation/navigation.html" class="remove-deco">Navigation</a></li>
            <li class="active"><a href="/components/Grid/grid.html" class="active-color remove-deco">Grid</a></li>
          </ul>
        </div>
      </aside>
      <main>
        <h1>Grid</h1>
        <p class="main-para">
          The CSS Grid Layout offers a grid-based layout system, with rows and columns, making it easier to design web pages
        </p>
        <h1>Two items in a grid</h1>
        <br><br>
        <div class="grid-container two-items-grid">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <br><br>
        <h1>Three items in a grid</h1>
        <br><br>
        <div class="grid-container three-items-grid">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>

        <iframe
          src="https://carbon.now.sh/embed/Y948YCAuDfY7Pz8wot4K"
          style="width: 680px; height: 391px; border:0; transform: scale(1); overflow:hidden;"
          sandbox="allow-scripts allow-same-origin">
        </iframe>
      </main>
    </div>
  </body>
</html>
