@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lora:ital,wght@1,500&display=swap");

:root {
  --primary-color: rgba(51, 75, 113, 1);
}

html {
  font-size: 62.5%;
}

body {
  /* background-color: white; */
  font-size: 1.7rem;
  padding: 0 5rem;
  font-family: "Inter", sans-serif;
  /* font-family: 'Lora', serif; */
}

h1,
h4 {
  margin: 0;
}

.container-grid {
  display: grid;
  grid-template-areas:
    "header header header header header header header"
    "aside main main main main main main";
}

header {
  grid-area: header;
  /* background-color: brown; */
}

aside {
  grid-area: aside;
  /* background-color: blue; */
  padding-top: 3rem;
  /* max-width: 15rem; */
  min-width: 20rem;
}

main {
  grid-area: main;
  /* background-color: yellow; */
  padding-top: 8rem;
}

aside div {
  position: sticky;
  top: 0;
}

aside hr {
  border: 1px solid rgba(0, 0, 0, 0.5);
  max-width: 16rem;
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header a {
  text-decoration: none;
  color: black;
}

.logo {
  font-size: 4rem;
  font-weight: bold;
}

.header-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-nav li {
  display: inline-block;
}

.header-nav a {
  padding: 8px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-top: 2rem;
}

.sidebar h4 {
  font-size: 2.5rem;
  max-width: 15rem;
}

.remove-deco {
  text-decoration: none;
  color: black;
}

.active {
  padding: 1rem;
  max-width: 10rem;
  background: #334b71;
  border-radius: 30px;
}

.active .active-color {
  color: white;
}

.main-para {
  margin: 3rem 0;
}

.container-alert {
  width: 40rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.container-avatars {
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-image {
  margin: 3rem 0;
  width: 70vw;
}

.container-card {
  display: flex;
  align-items: center;
  gap: 10rem;
  margin: 2.5rem 0;
}
