<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
    <link rel="stylesheet" href="button.css" />
  </head>
  <body>
    <div class="container-grid">
      <header class="header">
        <h1 class="logo"><a href="/components/Avatar/avatar.html">RapidUI</a></h1>

        <div class="header-nav">
          <nav class="nav">
            <ul>
              <li><a href="/index.html">Home</a></li>
              <li><a href="https://github.com/malaykhakhar/rapidUI/tree/dev">Documentation</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <aside>
        <hr>
        <div class="sidebar">
          <h4>Components</h2>
          <ul>
            <li><a href="/components/Avatar/avatar.html" class="remove-deco">Avatar</a></li>
            <li><a href="/components/Alert/alert.html" class=" remove-deco">Alert</a></li>
            <li><a href="/components/Badge/badge.html" class="remove-deco">Badge</a></li>
            <li class="active"><a href="/components/Button/button.html" class="active-color remove-deco">Button</a></li>
            <li><a href="/components/Cards/card.html" class="remove-deco">Card</a></li>
            <li><a href="/components/Image/image.html" class="remove-deco">Image</a></li>
            <li><a href="/components/Input/input.html" class="remove-deco">Input</a></li>
            <li><a href="/components/Text Utilities/text_utilities.html" class="remove-deco">Text Utilities</a></li>
            <li><a href="/components/Navigation/navigation.html" class="remove-deco">Navigation</a></li>
            <li><a href="/components/Grid/grid.html" class="remove-deco">Grid</a></li>
          </ul>
        </div>
      </aside>
      <main>
        <h1>Button</h1>
        <p class="main-para">
          The Button component act for a simple action that a user can take. Below are the standard buttons.
        </p>
        <!-- Primary Button -->
        <button class="btn btn-primary">Primary Button</button>
        <button class="btn btn-secondary">Secondary Button</button>
        <p class="main-para">
          Below is the link button
        </p>
        <!-- Link Button -->
        <button class="btn btn-link"><a href="">Link</a></button>
        <button class="btn btn-link-outline"><a href="">Link</a></button>

        <p class="main-para">Below is icon button</p>
        <!-- Icon Button -->
        <button class="btn btn-link-outline">
          <a href="" class="btn-icon-flex remove-deco">
            <img src="/components/images/linkedin-icon-blue.svg" alt="" class="btn-icon">
            <div>Visit</div>
          </a>
        </button>
        <p class="main-para">
          The Floating action button can be seen on the right of the page
        </p>
        <!-- Floating action button -->
          <img src="/components/images/floating-action-button.svg" alt="" class="btn-floating">

          <iframe
            src="https://carbon.now.sh/embed/lgMngjEnNFllZEQ8U0Gu"
            style="width: 680px; height: 670px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
          </iframe>
      </main>
    </div>
  </body>
</html>
