<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar</title>
    <link rel="stylesheet" href="avatar.css" />
  </head>
  <body>
    <div class="container-grid">
      <header class="header">
        <h1 class="logo"><a href="#">RapidUI</a></h1>

        <div class="header-nav">
          <nav class="nav">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Documentation</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <aside>
        <hr>
        <div class="sidebar">
          <h4>Components</h2>
          <ul>
            <li class="active"><a href="/components/Avatar/avatar.html" class="active-color remove-deco">Avatar</a></li>
            <li><a href="/components/Alert/alert.html" class=" remove-deco">Alert</a></li>
            <li><a href="/components/Badge/badge.html" class="remove-deco">Badge</a></li>
            <li><a href="/components/Button/button.html" class="remove-deco">Button</a></li>
            <li><a href="#" class="remove-deco">Card</a></li>
            <li><a href="#" class="remove-deco">Image</a></li>
            <li><a href="#" class="remove-deco">Input</a></li>
          </ul>
        </div>
      </aside>
      <main>
        <h1>Avatar</h1>
        <p class="main-para">
          Use the Avatar Component as a graphical representation of a person through a profile picture.
          <br>
          <br>
          The Avatar Component Has 5 Sizes - avatar-xl, avatar-l, avatar-m, avatar-s, avatar-xs for avatars of different sizes.
        </p>
        <div class="container-avatars">
          <img src="/components/images/boy-avatar.svg" alt="avatar" class="avatar avatar-xl" />
          <img src="/components/images/girl-avatar.svg" alt="avatar" class="avatar avatar-l" />
          <img src="/components/images/boy-avatar.svg" alt="avatar" class="avatar avatar-m" />
          <img src="/components/images/girl-avatar.svg" alt="avatar" class="avatar avatar-s" />
          <img src="/components/images/boy-avatar.svg" alt="avatar" class="avatar avatar-xs" />
        </div>

        <iframe
          src="https://carbon.now.sh/embed/Yxfeeibl1B7tqNbpO3fw"
          style="width: 680px; height: 409px; border:0; transform: scale(1); overflow:hidden;"
          sandbox="allow-scripts allow-same-origin">
        </iframe>
      </main>
      </div>
  </body>
</html>
