<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alert</title>
    <link rel="stylesheet" href="alert.css" />
  </head>
  <body>
    <div class="container-grid">
      <header class="header">
        <h1 class="logo"><a href="/components/Avatar/avatar.html">RapidUI</a></h1>

        <div class="header-nav">
          <nav class="nav">
            <ul>
              <li><a href="/index.html">Home</a></li>
              <li><a href="https://github.com/malaykhakhar/rapidUI/tree/dev">Documentation</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <aside>
        <hr>
        <div class="sidebar">
          <h4>Components</h2>
          <ul>
            <li><a href="/components/Avatar/avatar.html" class="remove-deco">Avatar</a></li>
            <li class="active"><a href="/components/Alert/alert.html" class="active-color remove-deco">Alert</a></li>
            <li><a href="/components/Badge/badge.html" class="remove-deco">Badge</a></li>
            <li><a href="/components/Button/button.html" class="remove-deco">Button</a></li>
            <li><a href="/components/Cards/card.html" class="remove-deco">Card</a></li>
            <li><a href="/components/Image/image.html" class="remove-deco">Image</a></li>
            <li><a href="/components/Input/input.html" class="remove-deco">Input</a></li>
            <li><a href="/components/Text Utilities/text_utilities.html" class="remove-deco">Text Utilities</a></li>
            <li><a href="/components/Navigation/navigation.html" class="remove-deco">Navigation</a></li>
            <li><a href="/components/Grid/grid.html" class="remove-deco">Grid</a></li>
          </ul>
        </div>
      </aside>
      <main>
        <h1>Alert</h1>
        <p class="main-para">
          Alert messages can be used to notify the user about something special: danger, success, information or warning.
        </p>
        <div class="container-alert">
          <div class="alert alert-success">This is a simple success alert!</div>
          <div class="alert alert-error">This is a simple error alert!</div>
          <div class="alert alert-warning">This is a simple warning alert!</div>
          <div class="alert alert-info">This is a simple info alert!</div>
        </div>
        <iframe src="https://carbon.now.sh/embed/yVQuBgsUv2q9BRSATGfX" style="width: 680px; height: 448px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
        </iframe>
      </main>
    </div>
  </body>
</html>
